$primary-color:#f4f4f4;
$secondary-color:#333;

$mainBG:#f4f4f4;
$headerBG:lightcoral;
$navBG:#333;
$navlink:#fff;

$showBG:url('../img/abstract.jpg');


$font1:"Lato",sans-serif;
$font2:"Rubik",sans-serif;