

#services{
    
    @include containor(red);

    /*
    text-align:center;
    background:$sectionBG1;
    width:100%;

    */
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    li{

        padding:100px;
    }

    a{
        text-decoration: none;
       
        &:hover{
            color:$secondary-color;
        }
    }

  

}